set_io CE P1
set_io nRD P10
set_io DB\[2\] K12
set_io DB\[1\] P2
set_io DB\[0\] P3
set_io DB\[15\] P4
set_io DB\[14\] P5
set_io DB\[13\] P7
set_io DB\[11\] N14
set_io DB\[12\] P14
set_io DB\[10\] M12
set_io DB\[9\] L12
set_io Din\[17\] M3
set_io Din\[16\] K3
set_io DB\[8\] L14
set_io DB\[7\] K14
set_io DB\[6\] H12
set_io DB\[5\] G12
set_io DB\[3\] J12
set_io DB\[4\] G14
set_io MCI P8
set_io ClrW E14
set_io H_L E12
set_io C_D D14
set_io SDA C14
set_io SCK D12
set_io nPD N1
set_io CKB L1
set_io Din\[15\] J1
set_io Din\[14\] H1
set_io Din\[13\] G1
set_io Din\[12\] E1
set_io Din\[11\] D1
set_io Din\[10\] C1
set_io Din\[9\] B1
set_io Din\[8\] A1
set_io Din\[3\] D7
set_io Din\[4\] A6
set_io Din\[6\] A4
set_io Din\[7\] A3
set_io Din\[5\] A5
set_io CKA A2
set_io Din\[1\] A11
set_io Din\[0\] A10
set_io Din\[2\] A12